<%= form_for(@drug) do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :dci %><br />
    <%= f.text_field :dci %>
  </div>

  <div class="field">
    <%= f.label :cod %><br />
    <%= f.text_field :cod %>
  </div>
  <div class="field">
    <%= f.label :diagnostic %><br />
    <%= f.text_field :diagnostic %>
  </div>
  <h3> Concentratii definite </h3>
  <%= f.fields_for :concentrations do |builder| %>
    <%= render 'concentration_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Adauga doza", f, :concentrations %><br />
  <h3> Denumiri comerciale definite </h3>
  <%= f.fields_for :brand_names do |builder| %>
    <%= render 'brand_name_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Adauga denumire comerciala", f, :brand_names %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
