<p id="notice"><%= notice %></p>


<p>
  <b>Dci:</b>
  <%= @drug.dci %>
</p>


<p>
  <b>Cod:</b>
  <%= @drug.cod %>
</p>

<p>
  <b>Diagnostic:</b>
  <%= @drug.diagnostic %>
</p>
<p>
<b> Denumiri comerciale:</b>
  <%= @drug.brand_names.pluck(:name) %>
  </p>
  <p>
  <b> Concentratii disponibile </b>
  <%= @drug.concentrations.pluck(:concentration) %>
  </p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
