<h1>Lista analize</h1>
<table>
  <tr>
    <th>Nume</th>
    <th>Unitate masura</th>
    <th>Valoare maxima </th>
    <th>Valoare minima</th>
    <th>Standard</th>
    <th></th>
    <th></th>
  </tr>

<% @fel_analizas.each do |fel_analiza| %>
  <tr>
    <td><%= fel_analiza.nume %></td>
    <td><%= fel_analiza.unitate_masura %></td>
    <td><%= fel_analiza.valoare_maxima %></td>
    <td><%= fel_analiza.valoare_minima %></td>
    <td><%= fel_analiza.standard %></td>
    <td><%= link_to 'Modifica', edit_fel_analiza_path(fel_analiza) %></td>
    <td><%= link_to 'Sterge de tot', fel_analiza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Adauga la evaluare' %></td>
  </tr>
<% end %>
</table>

<br />
<hr>
<%= link_to 'Adauga alt tip de analiza', new_fel_analiza_path %><br />
<%= link_to 'Fa un scor' %>
