<h1>Lista analize</h1>
<%= form_tag pacients_path, :method => 'get' do %>
  <p> 
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Cauta Analiza", :name => nil %>
    </p>
<% end %>

<table>
  <tr>
    <th>Nume</th>
    <th>Unitate masura</th>
    <th>Valori normale</th>
    <th>Paraclinic</th>
    <th>Standard</th>
    <th></th>
    <th></th>
  </tr>

<% @fel_analizas.each do |fel_analiza| %>
  <tr>
    <td><%= fel_analiza.nume %></td>
    <td><%= fel_analiza.unitate_masura %></td>
    <td><%= fel_analiza.valoare_maxima %></td>
    <td><%= fel_analiza.valoare_minima %></td>
    <td><%= fel_analiza.standard %></td>
    <td><%= link_to 'Modifica', edit_fel_analiza_path(fel_analiza) %></td>
    <td><%= link_to 'Sterge de tot', fel_analiza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Adauga alt tip de analiza', new_fel_analiza_path %>
