<div class="modal-body">
  <fieldset>
  <%= form_for [@pacient, @iesire] , :remote => true do |f| %>
    <div class="control-group">
      <%= f.label :data, :class=>'control-label' %>
      <div class="controls">
        <%= f.text_field :data, :value => Time.now.strftime("%Y/%m/%d") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :motiv, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :motiv %>
      </div>
    </div>
</div>
<div class="modal-footer">
    <button href="#" class="btn btn-primary">Save changes</button>
    <a href="#" class="btn btn-success">Call to action</a> 
    <a class="btn" data-dismiss="modal" href="#">Anuleaza</a>

  </fieldset>
<% end %>
