<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @iesire.data %>
</p>

<p>
  <b>Motiv:</b>
  <%= @iesire.motiv %>
</p>

<p>
  <b>Pacient:</b>
  <%= @iesire.pacient %>
</p>


<%= link_to 'Edit', edit_iesire_path(@iesire) %> |
<%= link_to 'Back', iesires_path %>
