<%= form_for [@pacient, @exit], :class=>"form-horizontal" do |f| %>
  <% if @exit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exit.errors.count, "error") %> prohibited this exit from being saved:</h2>

      <ul>
      <% @exit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :motiv %><br />
    <%= f.text_field :motiv %>
  </div>
  <div class="actions">
    <%= f.submit "Adauga motiv iesire", :class=>"btn btn-primary" %>
  </div>
<% end %>
