<% javascript 'evaluares.js.coffee' %>
<%= javascript_tag do %>
  evaluare ={};
  evaluare = <%= @pacient.evaluares.select(:data).map(&:data).map{|data| data.to_time.to_i * 1000}.map{|iara| ["#{iara}".to_i, 4]}  %>;
<% end %>
<%= form_for([@pacient, @evaluare]) do |f| %>
  <% if @evaluare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluare.errors.count, "error") %> prohibited this evaluare from being saved:</h2>

      <ul>
      <% @evaluare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <% if @pacient.evaluares.last.diagnostice == "" %>
      <h2> La ultima evaluare pacientul nu are trecute diagnosicele<h2> || <h3> <a href="#"> Vezi diagnostice anterioare</a>
          <% else %>
      <h2> Diagnostice cunoscute la data de <%= @pacient.evaluares.last.data %> </h2>
      <%= f.label @pacient.evaluares.last.diagnostice, :id=>"diagnostice_vechi" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :diagnostice %>   | <a href="#" id="preluare_diagnostice" > Preia Diagnostice</a>
    <%= f.text_area :diagnostice, :rows => 4 %>
  </div>
  <hr>
  <h2> Analize standard sau cele de data trecuta </h2>
  <h3> Aici grafic pentru analize</h3>

<div id="charts" style="width:560px;height:300px;"></div>

  <hr>

  <h2> Aici campuri cu analize formular standard si adaugat din fosta evaluare </h2><hr>
  
  <table>
    <tr><th>Tip analiza</th>
      <th> Valoare anterioara</th>
      <th> Valoare </th>
      <th> Unitate de masura </th>
      <th> Fizilogic maxim</th>
      <th> Grafic</th></tr>
  <% @evaluare.paraclinics.each_with_index do |paraclinic, index| %>
    <%= f.fields_for :paraclinics, paraclinic do |g| %>
      <tr><td><%= @analize_standard[index].nume %></td>
        <td><% unless not defined? @ultimele_analize[index] & @ultimele_analize[index].fel_analiza_id != @analize_standard[index] %>
            <%= @ultimele_analize[index].valoare %>
          <% end %></td>
      <td><%= g.text_field :valoare %></td>
      <td><%= @analize_standard[index].unitate_masura %></td>
      <td><%= @analize_standard[index].valoare_maxima %></td>
      <td><a href="#" class="adauga_grafic", data-message={<%= @pacient.get_data_and_analiza(@analize_standard[index].id).to_json %> }> Adauga la grafic </a></td></tr>
    <% end %>
  <% end %>
</table>
  <%# link_to 'Add a paraclinic that is not on the list', new_pacient_evaluare_paraclinic_path(@pacient, @evaluare)%>
  <h3> Diverse calcule: eGFR, Bart</h3><br/>
  <h2> Consult clinic</h2><hr>
  <% unless @pacient.evaluares.last.recomandari.nil? %>
    <h2> Recomandarile facute in <%= @pacient.evaluares.last.data %></h2>
    <%= f.label @pacient.evaluares.last.recomandari, :id => "recomandari_vechi" %>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :recomandari %>  
    <a href="#" id="preia_recomandari"> Preia Recomandari </a> <br />
    <%= f.text_area :recomandari , :rows => 4 %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit 'adauga' %>
    <%= f.submit 'adauga si printeaza' %>
    <%= f.submit 'adauga, printeaza analize si reteta' %>
  </div>
<% end %>
