<%= form_for([@pacient, @evaluare], :remote => true) do |f| %>
  <% if @evaluare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluare.errors.count, "error") %> prohibited this evaluare from being saved:</h2>

      <ul>
      <% @evaluare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :diagnostice %><br />
    <%= f.text_area :diagnostice %>
    <p>
    De preluat/viZualizat cele vechi
    </p>
  </div>
  <hr>
  <h2> Aici campuri cu analize si consult clinic </h2><hr>
  <div class="field">
    <%= f.label :recomandari %><br />
    <%= f.text_area :recomandari %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
