<%= form_for([@pacient, @evaluare]) do |f| %>
  <% if @evaluare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluare.errors.count, "error") %> prohibited this evaluare from being saved:</h2>

      <ul>
      <% @evaluare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>

    <div class='field'>
      <%= f.label :data, 'Data evaluarii' %>
      <%= f.text_field :data, :value => Time.now.strftime("%Y/%m/%d") %>
    </div>

    <div class='field'>
      <%= f.label :medic, 'Medicul care face evaluarea' %>
      <%= f.collection_select( :medic_id, Medic.all, :id, :nume_complet, :prompt => 'Alege medic') %>
    </div>
    <div class='field'>
      <%= f.check_box :generator_magic,:checked => true  %>
      <span class='small_label'> Genereaza automat numaru de registru </span>
    </div>
    <div class="field" id="numar_registru">
      <%= f.label :nr_fo, "Numar registru" %>
      <%= f.text_field :nr_fo %>
    </div>
  </fieldset>
  <%= f.submit 'Adauga in registru' %>
<% end %>
