<%= form_for([@pacient, @evaluare]) do |f| %>
  <% if @evaluare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluare.errors.count, "error") %> prohibited this evaluare from being saved:</h2>

      <ul>
      <% @evaluare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :diagnostice %><br />
    <%= f.text_area :diagnostice, :rows => 4 %>
    <p>
    De preluat/viZualizat cele vechi
    </p>
  </div>
  <hr>
  <h2> Aici campuri cu analize formular standard si adaugat din fosta evaluare </h2><hr>
  <h2> Analize standard sau cele de data trecuta </h2>
  <% for analiza in @paraclinice %>
    <%= analiza.fel_analiza.nume %>
    <%= analiza.valoare %>
    <%= analiza.fel_analiza.valori_normale %>
    <%= analiza.fel_analiza.unitate_masura %><br/>
  <%end %>
  <%= link_to 'Adauga alta analiza care nu e in lista ', fel_analizas_path%>
  <h3> Diverse calcule: eGFR, Bart</h3><br/>
  <h2> Consult clinic</h2><hr>
  <div class="field">
    <%= f.label :recomandari %><br />
    <%= f.text_area :recomandari , :rows => 4 %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit 'adauga' %>
    <%= f.submit 'adauga si printeaza' %>
    <%= f.submit 'adauga, printeaza analize si reteta' %>
  </div>
<% end %>
