<%= form_for(@medic) do |f| %>
  <% if @medic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medic.errors.count, "error") %> prohibited this medic from being saved:</h2>

      <ul>
      <% @medic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nume %><br />
    <%= f.text_field :nume %>
  </div>
  <div class="field">
    <%= f.label :prenume %><br />
    <%= f.text_field :prenume %>
  </div>
  <div class="field">
    <%= f.label :cod_parafa %><br />
    <%= f.text_field :cod_parafa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
