<%= form_for(@retetar) do |f| %>
  <% if @retetar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retetar.errors.count, "error") %> prohibited this retetar from being saved:</h2>

      <ul>
      <% @retetar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.collection_select(:medic_id, Medic.all, :id, :nume) %>
  </div>
  <div class="field">
    <%= f.label :tip %><br />
    <%= f.text_field :tip %>
  </div>
  <div class="field">
    <%= f.label :serie %>
    <%= f.text_field :serie %>
  </div>
  <div class="field">
    <%= f.label :nr_prima_reteta %>
    <%= f.text_field :nr_prima_reteta %>
  </div>
  <div class="field">
    <%= f.label :nr_ultima_reteta %>
    <%= f.text_field :nr_ultima_reteta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
