<h1>Listing retetars</h1>

<table>
  <tr>
    <th>Medic</th>
    <th>Tip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @retetars.each do |retetar| %>
  <tr>
    <td><%= retetar.medic %></td>
    <td><%= retetar.tip %></td>
    <td><%= link_to 'Show', retetar %></td>
    <td><%= link_to 'Edit', edit_retetar_path(retetar) %></td>
    <td><%= link_to 'Destroy', retetar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Retetar', new_retetar_path %>
