<p id="notice"><%= notice %></p>

<p>
  <b>Medic:</b>
  <%= @retetar.medic %>
</p>

<p>
  <b>Tip:</b>
  <%= @retetar.tip %>
</p>


<%= link_to 'Edit', edit_retetar_path(@retetar) %> |
<%= link_to 'Back', retetars_path %>
