<h1>Listing brand_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Drug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brand_names.each do |brand_name| %>
  <tr>
    <td><%= brand_name.name %></td>
    <td><%= brand_name.drug %></td>
    <td><%= link_to 'Show', brand_name %></td>
    <td><%= link_to 'Edit', edit_brand_name_path(brand_name) %></td>
    <td><%= link_to 'Destroy', brand_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brand name', new_brand_name_path %>
