<p id="notice"><%= notice %></p>

<p>
  <b>Nume:</b>
  <%= @paraclinic.nume %>
</p>

<p>
  <b>Valoare:</b>
  <%= @paraclinic.valoare %>
</p>

<p>
  <b>Evaluare:</b>
  <%= @paraclinic.evaluare %>
</p>


<%= link_to 'Edit', edit_paraclinic_path(@paraclinic) %> |
<%= link_to 'Back', paraclinics_path %>
