<%= form_for @pacient, :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>
  <% if @pacient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pacient.errors.count, "error") %> prohibited this pacient from being saved:</h2>

      <ul>
      <% @pacient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nume, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :nume,:class=>'text-field' %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :prenume, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :prenume,:class=>'text-field' %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :cnp, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :cnp ,:class=>'text-field'%>
  </div>
</div>
  <div class="control-group">
    <%= f.label :adresa, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :adresa,:class=>'text-field' %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :debut_diabet, :class=>'control-label' %>
    <div class="controls">
    <%= f.date_select :debut_diabet %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :focad, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :focad,:class=>'text-field' %>
  </div>
</div>
  <div class="form-actions">
    <%= f.submit nil, :class=>'btn btn-primary' %>
    <%= link_to 'Anuleaza', pacients_path, :class=>'btn' %>
  </div>
</fieldset>
<% end %>
