
<div class="modal-body">
<%= form_for Pacient.new,:remote=>true, :html => {"data-type"=> :json, :class => 'form-horizontal'} do |f| %>
  <fieldset>


  <div class="control-group">
    <%= f.label :nume, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :nume,:class=>'text-field' %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :prenume, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :prenume,:class=>'text-field' %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :cnp, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :cnp ,:class=>'text-field'%>
  </div>
</div>
  <div class="control-group">
    <%= f.label :adresa, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :adresa,:class=>'text-field' %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :debut_diabet, :class=>'control-label' %>
    <div class="controls">
    <%= f.date_select :debut_diabet %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :focad, :class=>'control-label' %>
    <div class="controls">
    <%= f.text_field :focad,:class=>'text-field' %>
  </div>
</div>
</div>
  <div class="modal-footer">
    <%# f.submit nil, :class=>'btn btn-primary' %>
    <button href="#" class="btn btn-primary">Save changes</button>
    <a href="#" class="btn btn-success">Call to action</a> 
    <a class="btn" data-dismiss="modal" href="#">Anuleaza</a>
  </div>
</fieldset>
<% end %>
