<table border=1>
  <tr>
    <th>Nume</th>
    <th>Prenume</th>
    <th>Cnp</th>
    <th>Focad</th>
    <th>Actiuni diverse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for pacient in @pacients %>
  <tr id=<%= pacient.cnp %>>
    <td><%= pacient.nume.downcase.capitalize %></td>
    <td><%= pacient.prenume.downcase.capitalize %></td>
    <td><%= pacient.cnp %></td>
    <td><%= pacient.focad %></td>
    <td><%= link_to 'Vezi detalii', pacient_path(pacient), :remote => true %></td>
    <td><%= link_to 'Adauga Evaluare', new_pacient_evaluare_path(pacient) %></td>
    <td><%# link_to 'Ia numar registru', new_pacient_evaluare_path(pacient),:data=>{:toggle=>"modal", :target=>"#newEvalModal"} ,:remote => true %>
      <a href="#newEvalModal" role="button" class="btn" data-toggle="modal">Ia numar registr2u</a></td>
    
    <td><%= link_to 'prescrie reteta', new_pacient_retetum_path(pacient) %></td>
  </tr>
<% end %>
</table>


