<div class="well"><td>
  <%= @pacient.nume.capitalize %></td>

<td><%= @pacient.prenume.capitalize %></td>

<td>  <%= @pacient.cnp %><br /></td>

<td>  Adresa:<%= @pacient.adresa %>

  FoCAD:<%= @pacient.focad %>

  Data debut Diabet:<%= @pacient.debut_diabet %></td>
<td><%= link_to 'Schimba detalii ale pacientului', edit_pacient_path(@pacient), :class=>"btn btn-primary" %> </td>
  <%# link_to 'Scoate din evidenta', pacient_scoate_evidenta_path(@pacient),:class =>"btn btn-danger"%>
  <td><%= link_to 'Scoate din evidenta', new_pacient_exit_path(@pacient), :class=>"btn btn-danger"%>
  <%= link_to 'revino', pacients_path, :remote=>true, :class=>"btn btn-success" %></td></div>
