<p>
  <b>Nume:</b>
  <%= @pacient.nume.capitalize %>

  <b>Prenume:</b>
  <%= @pacient.prenume.capitalize %>

  <b>Cnp:</b>
  <%= @pacient.cnp %><br />

  <b>Adresa:</b>
  <%= @pacient.adresa %>

  <b>Focad:</b>
  <%= @pacient.focad %>

  <b>Debut diabet:</b>
  <%= @pacient.debut_diabet %>
</p>
<%= link_to 'Schimba detalii ale pacientului', edit_pacient_path(@pacient), :class=>"btn btn-primary" %> 
<%= link_to 'Scoate din evidenta', "#",:class =>"btn btn-danger"%>
