<h1 align=center>Lista pacientilor</h1>
<hr>
<%= form_tag pacients_path, :method => 'get' do %>
  <p> 
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Cauta Pacient", :name => nil %>
    </p>
<% end %>
<h3> tabel pacienti gasiti</h3><hr>


<table>
  <tr>
    <th>Nume</th>
    <th>Prenume</th>
    <th>Cnp</th>
    <th>Focad</th>
    <th>Actiuni diverse</th>
    <th></th>
    <th></th>
  </tr>

<% for pacient in @pacients %>
  <tr>
    <td><%= pacient.nume.downcase.capitalize %></td>
    <td><%= pacient.prenume.downcase.capitalize %></td>
    <td><%= pacient.cnp %></td>
    <td><%= pacient.focad %></td>
    <td><%= link_to 'Editeaza', edit_pacient_path(pacient) %>|
    <%= link_to 'Sterge', pacient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Adauga Evaluare', new_pacient_evaluare_path(pacient) %></td>
    <td><%= link_to 'Vezi evaluari vechi', pacient_evaluares_path(pacient) %> </td>
    <td><%= link_to 'prescrie reteta' %></td>
    <td><%= link_to 'keto/aranesp' %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Printeaza retete keto de azi' %>
<%= link_to 'Printeaza retete aranesp de azi' %><br/><hr>
<%= link_to 'New Pacient', new_pacient_path %>
<%= link_to 'Marcheaza decesu/scoaterea din evidenta' %>
