<%= javascript_include_tag 'pacients.js.coffee' %>
<h1 align=center>Lista pacientilor</h1>
<hr>
<h3> Cauta pacient </h3>
<%= form_tag pacients_path, :method => 'get', :id => "pacients_search", :html => {:class=>"form-search"} do %>
  <p> 
  <%= text_field_tag :search, params[:search],:placeholder=>"Nume sau cnp", :class=>"input-medium search-query" %>
    <%= submit_tag "Cauta Pacient", :name => nil, :class=>"btn" %>
    </p>
<% end %>
<div id="pacients"> <%= render 'pacients' %></div>
<br />
<hr>
<h3> Retete </h3>
<%= link_to 'Printeaza retete keto de azi', :class=>"btn btn-mini" %><br />
<%= link_to 'Printeaza retete aranesp de azi', :class => 'btn btn-mini' %><br/>
<%= link_to 'Printeaza/Vezi registru consultatii'%><hr>
