<%= javascript_include_tag 'pacients.js.coffee' %>
<h1 align=center>Lista pacientilor</h1>
<hr>
<h3> Cauta pacient </h3>
<%= form_tag pacients_path, :method => 'get', :id => "pacients_search" do %>
  <p> 
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Cauta Pacient", :name => nil %>
    </p>
<% end %>
<h3> tabel pacienti gasiti</h3><hr>
<div id="pacients"> <%= render 'pacients' %></div>
<br />
<hr>
<h3> Retete </h3>
<%= link_to 'Printeaza retete keto de azi' %><br />
<%= link_to 'Printeaza retete aranesp de azi' %><br/>
<%= link_to 'Printeaza/Vezi registru consultatii'%><hr>
<h3> Pacienti </h3>
<%= link_to 'Adauga pacient in evidenta', new_pacient_path %><br/><hr>
<h3> Registru </h3>
<%= link_to 'Vezi evaluarile de ieri' %><br />
<%= link_to 'Vezi evaluarile de azi' %><br />
<%= link_to 'Vezi evaluarile de saptamana asta' %>
<%= link_to 'Vezi evaluari neterminate' %>
