<fieldset>
  <%= label :dci, "DCI" %>
  <%= select_tag :dci_name, options_from_collection_for_select(Drug.all, 'id','dci') %>
  <%= label :nume, "Denumire comerciala" %>
  <select id="brand_name_name">
    <option value="1"> </option>
  </select>
  <%= label :concentratie, "Concentratia" %>
  <%# select_tag :concentratie_name, options_from_collection_for_select(Drug.all, 'id','concentration', :include_blank => false) %>
  <select id="concentration_name">
    <option value="1"> </option>
  </select>
  <%= link_to  "Sterge medicament din reteta", "#", class: "remove_fields" %>
</fieldset>

