<%= javascript_include_tag 'reteta.js.coffee' %>
<%= form_for([@pacient,@retetum]) do |f| %>
  <% if @retetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retetum.errors.count, "error") %> prohibited this retetum from being saved:</h2>

      <ul>
      <% @retetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.collection_select :retetar_id, Retetar.all << Retetar.new(:tip => "sau adauga retetar nou"), :id, :tip_cu_medic,  :prompt =>"Alege retetaru pa care scrii reteta", :include_blank => false%>
  </div>

  <div class="fieldset">
    <h2> Detalii de reteta nr serie/medic </h2>
    Serie reteta: <div id="serie_reteta">Nu ai selectat retetar </div> 
    Nr reteta: <%= f.text_field :serie %><br />
    Medic Prescriptor: <br />
     Nr de zile de prescriptie: 
    <%= f.radio_button :nr_zile, 30 %>
    <%= f.label :nr_zile, 30, :value => 30 %>
    <%= f.radio_button :nr_zile, 90, :checked => true %>
    <%= f.label :nr_zile, 90, :value => 90 %>
      </div>

  <div class="field">
    
    <%# f.collection_select(:drugs,  Drug.all, :id, :dci, {:prompt =>"Alege o pastila"}, :id => 'dci_select') %>
    <h3> Aici is line drugs </h3>
    <%# f.grouped_collection_select(:drugs,  Drug.all, :dci, :nume, :id, :nume, {:prompt =>"Ce fel"},  :id => 'nume_select' ) %>
    <%= f.fields_for :drugs do |builder| %>
      <%= render 'drug_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields 'Adauga in reteta', f, :drugs %>
  </div>
  <table>
    <th><tr> Medicament</tr>
      <tr>Cantitate</tr></th>
      </table>

  <div class="actions">
    <%= f.submit "Printeaza reteta" %>
  </div>
<% end %>
