<%= javascript_include_tag 'reteta.js.coffee' %>
<%= form_for([@pacient,@retetum]) do |f| %>
  <% if @retetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retetum.errors.count, "error") %> prohibited this retetum from being saved:</h2>

      <ul>
      <% @retetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= collection_select :retetar, :medic_id, Retetar.all << Retetar.new, :id, :tip, :prompt =>"Alege retetaru pa care scrii reteta", :include_blank => false%>
  </div>

  <div class="field">
    
    <%= collection_select(:drugs, :medicament_id, Drug.all, :id, :dci, :prompt =>"Alege o pastila") %>
    <%= collection_select(:drugs, :medicament_id, Drug.all, :id, :nume, {:prompt =>"Ce fel"},  :id => 'nume_select' ) %>
    <%= link_to 'Adauga in reteta'%>
  </div>
  <table>
    <th><tr> Medicament</tr>
      <tr>Cantitate</tr></th>
      </table>

  <div class="actions">
    <%= f.submit "Printeaza reteta" %>
  </div>
<% end %>
