  <%= form_for [@pacient,@retetum]  do |f| %>
  <fieldset>
  <% if @retetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retetum.errors.count, "error") %> prohibited this retetum from being saved:</h2>

      <ul>
      <% @retetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <legend> Prescrie o noua reteta pentru <%= @pacient.nume%> <%= @pacient.prenume %></legend>
    <%= f.label :data, "Data cu care scrii reteta" %><button id='last_monday' type="button">Ultima luni</button>
    <%= f.text_field :data  %>
    <button id="next_monday" type="button">Urmatoarea luni</button><br>

    <%= f.label :retetar_id, "Alege retetarul" %>
    <%= f.collection_select :retetar_id, Retetar.all << Retetar.new(:tip => "sau adauga retetar nou"), :id, :tip_cu_medic,  :prompt =>"Alege retetaru pa care scrii reteta", :include_blank => false%>

    <p class="lead"> Detalii de reteta nr serie/medic </p>
    <p >Medic Prescriptor:<span id="medic_reteta" class="text-info"> Nu ai selectat retetar </span>||
    Serie reteta: <span id="serie_reteta" class="text-info">Nu ai selectat retetar </span> </p>
    <br/>
      <%= f.label :serie,"Nr reteta", :class=>"control-label" %>
      <%= f.text_field :serie, :class=>"text-field" %><br />

    <p class="control-label">Nr de zile de prescriptie:
     <%= f.radio_button :nr_zile, 30, :class=>'radio inline' %>
     <%= f.label :nr_zile, 30, :value => 30, :class=>'radio inline'%>
     <%= f.radio_button :nr_zile, 90, :checked => true , :class=>'radio inline'%>
     <%= f.label :nr_zile, 90, :value => 90 , :class=>'radio inline'%></p>
     <strong > Diagnostic reteta</strong>
      <span id="diagnostice_reteta">Alege medicament pentru diagnostic</span>
     <legend> Medicamente adaugate in reteta </legend>

     Aici is line drugs 
        <%= f.fields_for :drugs do |builder| %>
          <%= render 'drug_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields 'Adauga in reteta', f, :drugs %>
    <div class="form-actions">
      <%= f.submit "Adauga si printeaza reteta", :class=>"btn btn-primary" %>
      <%= link_to "Anuleaza", pacients_path, :class=>"btn" %>
    </div>
  </fieldset>
<% end %>

