<%= form_for([@pacient,@retetum]) do |f| %>
  <% if @retetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retetum.errors.count, "error") %> prohibited this retetum from being saved:</h2>

      <ul>
      <% @retetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data, "Data cu care scrii reteta" %><br />
    <%= f.date_select :data %>
  </div>
  <h3> Alege retetarul</h3>
  <div class="field">
    <%= f.collection_select :retetar_id, Retetar.all << Retetar.new(:tip => "sau adauga retetar nou"), :id, :tip_cu_medic,  :prompt =>"Alege retetaru pa care scrii reteta", :include_blank => false%>
    <%= link_to "Adauga retetar", new_retetar_path(:modal=>true), :data=>{:toggle=>"modal", :target => "#newRetetarModal"}, :remote => true %>
  </div>

  <div class="fieldset">
    <h2> Detalii de reteta nr serie/medic </h2>
    Serie reteta: <div id="serie_reteta">Nu ai selectat retetar </div> 
    Nr reteta: <%= f.text_field :serie %><br />
    Medic Prescriptor:<div id="medic_reteta">Nu ai selectat retetar</div> <br />
     Nr de zile de prescriptie: 
     <%= f.radio_button :nr_zile, 30,:label=>"salut" %>
    <%= f.label :nr_zile, 30, :value => 30 %>
    <%= f.radio_button :nr_zile, 90, :checked => true %>
    <%= f.label :nr_zile, 90, :value => 90 %>
      </div>

  <div class="field">
    
    <h3> Aici is line drugs </h3>
    <%= f.fields_for :drugs do |builder| %>
      <%= render 'drug_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields 'Adauga in reteta', f, :drugs %>
  </div>
  <table>
    <th><tr> Medicament</tr>
      <tr>Cantitate</tr></th>
      </table>

  <div class="actions">
    <%= f.submit "Printeaza reteta" %>
  </div>
<% end %>

<div id="newRetetarModal" class="modal hide fade">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <div class="page-header">
    <h2> Retetar nou</h2>
  </div>
  <% @retetar = Retetar.new %>
  <%= render :partial => '/retetars/form' %>
  <div class="submit_link">
    <%= f.submit "Adauga", class="alt_btn">
    <%= submit_tag "Anuleaza" >
  </div>
</div>
  

