<%= form_for([@pacient,@retetum]) do |f| %>
  <fieldset>
  <% if @retetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retetum.errors.count, "error") %> prohibited this retetum from being saved:</h2>

      <ul>
      <% @retetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data, "Data cu care scrii reteta" %><br />
    <%= f.date_select :data %>
  </div>
  <h3> Alege retetarul</h3>
  <div class="field">
    <%= f.collection_select :retetar_id, Retetar.all << Retetar.new(:tip => "sau adauga retetar nou"), :id, :tip_cu_medic,  :prompt =>"Alege retetaru pa care scrii reteta", :include_blank => false%>
    <%# link_to "Adauga retetar", new_retetar_path(:modal=>true), :data=>{:toggle=>"modal", :target => "#newRetetarModal"}, :remote => true %>
    <a type="button" class="btn" style="width:100%;" href="#newRetetarModal2" data-toggle="modal"> Adauga Retetar</a>
  </div>

    <h2> Detalii de reteta nr serie/medic </h2>
    Serie reteta: <div id="serie_reteta">Nu ai selectat retetar </div> 
    Nr reteta: <%= f.text_field :serie %><br />
    Medic Prescriptor:<div id="medic_reteta">Nu ai selectat retetar</div> <br />
     Nr de zile de prescriptie: 
     <%= f.radio_button :nr_zile, 30,:label=>"salut", :wrapper_html => {:class=>'span6'} %>
     <%= f.label :nr_zile, 30, :value => 30 , :wrapper_html => {:class=>'span6'}%>
     <%= f.radio_button :nr_zile, 90, :checked => true , :wrapper_html => {:class=>'span6'}%>
     <%= f.label :nr_zile, 90, :value => 90 , :wrapper_html => {:class=>'span6'}%>

    
    <h3> Aici is line drugs </h3>
    <%= f.fields_for :drugs do |builder| %>
      <%= render 'drug_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields 'Adauga in reteta', f, :drugs %>
  </div>
  <table>
    <th><tr> Medicament</tr>
      <tr>Cantitate</tr></th>
      </table>

  <div class="btn btn-primary">
    <%= f.submit "Printeaza reteta" %>
  </div>
<% end %>
</fieldset>
<div class="modal fade" id="newRetetarModal2">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3> Formular pentru un nou retetar</h3>
  </div>
  <div class="modal-body">
    <p> Aici formular pentru retetar nou</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"> Anuleaza</a>
    <a href="#" id="modal-form-submit" class="btn btn-primary"> Adauga retetaru</a>
  </div>
</div>
<script>
  $('modal-form-submit').on('click', function(e) {
    e.preventDefault();
    $.('#modal-form').submit();
  });
</script>
