<h1>Listing drug_comercials</h1>

<table>
  <tr>
    <th>Nume</th>
    <th>Drug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drug_comercials.each do |drug_comercial| %>
  <tr>
    <td><%= drug_comercial.nume %></td>
    <td><%= drug_comercial.drug %></td>
    <td><%= link_to 'Show', drug_comercial %></td>
    <td><%= link_to 'Edit', edit_drug_comercial_path(drug_comercial) %></td>
    <td><%= link_to 'Destroy', drug_comercial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drug comercial', new_drug_comercial_path %>
