<p id="notice"><%= notice %></p>

<p>
  <b>Nume:</b>
  <%= @drug_comercial.nume %>
</p>

<p>
  <b>Drug:</b>
  <%= @drug_comercial.drug %>
</p>


<%= link_to 'Edit', edit_drug_comercial_path(@drug_comercial) %> |
<%= link_to 'Back', drug_comercials_path %>
